<div class="list" ng-controller='SettingsController'>		
	<form>
    <div class="row"><div class="small-12 text-center columns"><h3><u>API URL</u></h3></div></div>

	  <div class="row">
          <div class="small-12 columns">
            <input ng-model="url" type="text" placeholder="https://api.parse.com/1/classes/" readonly='true'>
          </div>
      </div>
<!--
    <div class="text-center">
      <button ng-click="setUrl()" class="button tiny info">Set URL</button>
    </div>
-->
  <div class="row">
    <div class="small-4 small-offset-4 text-center columns"><h4>{{displayText}}</h4></div>
  </div>
  </form>
</div>