<div class="list" ng-controller='TaskListController'>	
	<div class="row"><div class="small-12 text-center columns"><h3><u>List of Tasks</u></h3></div></div>
	<div class="row">
		<div class="small-4 columns">
		<select ng-click="change()" ng-model="sortview">
			<option value="name">Name</option>
			<option value="assignedUserName">Assigned User</option>
			<option value="dateCreated">Date Created</option>
			<option value="deadline">Deadline</option>
		</select>
		</div>
		<div class="small-4 columns ">
		<form>
			<input ng-click="change()" ng-model="taskcomplete" type="radio" value="true">Completed</input><br>
			<input ng-click="change()" ng-model="taskcomplete" type="radio" value="false">Pending</input><br>
			<input ng-click="change()" ng-model="taskcomplete" type="radio" value="all">All</input>
		</form>
		</div>
		<div class="small-4 columns">
		<form>
			<input ng-click="change()" ng-model="vieworder" type="radio" ng-value="1" >Ascending</input><br>
			<input ng-click="change()" ng-model="vieworder" type="radio" ng-value="-1">Descending</input><br>
		</form>
		</div>

	</div>
	<div class="row">
		<div class="small-1 column"><a class="button radius small leftp" ng-click="pageleft()">Prev</a></div>
		<div class="small-1 small-offset-10 column"><a class="button radius small rightp" ng-click="pageright()">Next</a></div>

	</div>
	<ul><li>
		<div class="row text-center">
			<div class="small-3 columns"><h4>Name</h4></div>
			<div class="small-3 columns"><h4>Deadline</h4></div>
			<div class="small-3 columns"><h4>Assigned</h4></div>

			<div class="small-3 columns"><a class="button round success tiny" href="#/addtask">Add</a></div>

		</div>
	</ul></li>

	<ul>
		<li ng-repeat="task in tasks">
			<div class="row panel text-center">
				<div class="small-3 columns"><h5><a href="#/tasklist/{{task._id}}">{{task.name}}</a></h5></div>
				<div class="small-3 columns"><h5>{{task.deadline}}</h5></div>
				<div class="small-3 columns"><h5>{{task.assignedUserName}}</h5></div>

				<div class="small-3 columns"><a class="button round alert tiny" ng-click="removeTask(task._id)">Delete</a></div>

			</div>
		</div>
		</li>
	</ul>
</div>